body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/********navigation section css********/
#navtop{
    height: 70px;
    /* border: 1px solid red; */
    background-image: linear-gradient(135deg, rgb(6, 131, 239), rgb(66, 147, 216));
}

#navtop > div{
    height: 30px;
    /* border: 1px solid white; */
    float: left;
    width: 180px;
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
#navtop > div:nth-child(2){
   font-size: 25px;
}

#navtop > div:last-child{
    border-radius: 30px;
    width: 150px;
     border: 0.5px solid white;  
     text-align: center;
}
#navrow1{
    height: 400px;
    /* border: 1px solid green; */
    background-color:#1F99E2;
    color: white;
}

.navrow1inner1{
    height: 50px;
    /* border: 1px solid red; */
    background-color:#1F99E2;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 400;
}
.navrow1inner2{
    height: 100px;
    /* border: 1px solid red; */
    background-color:#1F99E2;
    text-align: center;
    font-size: 20px;
    /* padding-top: 30px; */
    font-weight: 400;
    color: #e6e6e6;
}
.navrow1inner3{
    height: 100px;
    /* border: 1px solid red; */
    background-color:#1F99E2;
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
}
#textbox{
    height: 50px;
    width: 500px;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 50px;
    font-weight: 400;
    border: 1px solid white;
}


/* *******body css section *************/


.bodyrow1{
    /* border: 1px solid blue; */
    width: 1000px;
    height: 50px;
    margin: 10px auto;
    font-size: 23px;
    font-weight: 400;
}
.margin{
    height: 10px;
    width: 1000px;
    margin: 0px auto;
    border-bottom: 1px solid grey;
}

.bodyrow2{
    /* border: 1px solid blue; */
    width: 1000px;
     height: 420px; 
    margin: 10px auto;
    /* font-size: 30px; */
}

.bodyrow2 > div {

    height: 430px;
    width: 330px;
    float: left;
    /* border: 1px solid salmon; */
    /* background-color: wheat; */
    line-height: 1.6;
    color:#1F99E2;
    font-weight: 400;
    
}

.bodyrow2 > div > p:first-child {
     color:#444444;
     font-size: 20px;
     font-weight: 600;
}

.smallcase{
    font-size: 15px;
}

