
.row1 {
    background-color: #bfc9d1;
    width: auto;
    height:  70px;
    position: relative;

}

.lines_img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 28px;
    margin-left: 10px;
     
}

.contact_img {
   width: 20px;
   height: 20px;
   position: absolute;
   top: 30px; 
   right: 30px;
   border-radius: 15px;
}

.box {
    width: 450px;
    height: 300px;
    margin-left: 450px;
    margin-top: 80px;
    position: relative;
}

.google_box {
    border: 1px solid gray;
    width: 120px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 50px;
    border-radius: 5px;
    text-align: right;
    background-color: white;
    
}

input {
    width: 443px;
    height: 50px;
    border-radius: 5px;
    font-weight: 500;

}

#Email {
    position: absolute;
    top: 100px;
    font-size: 15px;
    border: 1px solid gray;
    background-color: white;

    
}

#password {
    position: absolute;
    top: 180px;
    font-size: 15px;
    border: 1px solid gray;
    background-color: white;
}

#text {
    font-size: 18px;
    position: absolute;
    top: 250px;
    color:  rgb(57, 57, 199);
    left: 
}

.Sign_in {
    border: 1px solid gray;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 250px;
    right: 0px;
    border-radius: 5px;
    background-color: rgb(57, 57, 199);
    color: white;
    font-size: 15px;
    
}

button > p {
    margin-top: 5px;
    margin-right: 20px;
    font-size: 15px;
    color: grey;
}

.google_img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 0px;
}

#Sign {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
    color: #696969;
}












